.home-header {
    background-color: rgb(34, 105, 238);
    height: 200px;
    text-align: justify;
    display: flexbox;
  }
  
  .home-photo {
    margin-top: 130px;
    border: solid 10px rgb(255, 255, 255);
    /* border-radius: 80%; */
    width: 300px;
  }

  .home-body {
      display: flexbox;
      flex-direction: column;
  }

  .name-tittle {
    display: flex;
    flex-direction: column;
    margin-left: 350px;
  }