/* .header {
    background-image: url('../images/foto-header.jpg');
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
} */
.title {
    font-family: "Marker Felt", fantasy;
    text-align: center;
}

.grade {
    flex-wrap: nowrap;
}
.number-input {
    width: 70px;
}
.form {
    display: flex;
    flex-direction: column;
}
.grade-btn {
    width: 30px;
    border: solid 2px black;
}
.div-square-creator {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.enter-icon {
    margin-bottom: 5px;
    margin-left: -7px;
}